---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=155&action=cache&name=test-cache-setting&stale_ttl=1500&ttl=1234
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "155"
      action:
      - cache
      name:
      - test-cache-setting
      stale_ttl:
      - "1500"
      ttl:
      - "1234"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/155/cache_settings
    method: POST
  response:
    body: '{"action":"cache","name":"test-cache-setting","stale_ttl":"1500","ttl":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"155","cache_condition":"","created_at":"2020-06-11T16:13:35Z","updated_at":"2020-06-11T16:13:35Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9915"
      Fastly-Ratelimit-Reset:
      - "1591894800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
