---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/155/cache_settings/test-cache-setting
    method: GET
  response:
    body: '{"stale_ttl":"1500","cache_condition":"","created_at":"2020-06-11T16:13:35Z","updated_at":"2020-06-11T16:13:35Z","action":"cache","version":"155","service_id":"7i6HN3TK9wS159v2gPAZ8A","ttl":"1234","name":"test-cache-setting","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
