---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/155/cache_settings
    method: GET
  response:
    body: '[{"cache_condition":"","stale_ttl":"1500","created_at":"2020-06-11T16:13:35Z","updated_at":"2020-06-11T16:13:35Z","action":"cache","version":"155","ttl":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"name":"test-cache-setting"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
