---
version: 1
interactions:
- request:
    body: Name=test-cache-setting&Service=7i6HN3TK9wS159v2gPAZ8A&Version=155&action=deliver&name=new-test-cache-setting
    form:
      Name:
      - test-cache-setting
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "155"
      action:
      - deliver
      name:
      - new-test-cache-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/155/cache_settings/test-cache-setting
    method: PUT
  response:
    body: '{"cache_condition":"","action":"deliver","created_at":"2020-06-11T16:13:35Z","updated_at":"2020-06-11T16:13:35Z","stale_ttl":"1500","name":"new-test-cache-setting","ttl":"1234","version":"155","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9914"
      Fastly-Ratelimit-Reset:
      - "1591894800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
